body {
  font-family: sans-serif;
}

h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}

p {
  font-size: 14px;
  color: grey;
}

p b {
  color: goldenrod;
}

.problem {
  padding-inline: 10px;
  border: 2px solid brown;
  border-radius: 20px;
  margin-bottom: 12px;
  overflow: auto;
}
